<a href="https://colab.research.google.com/github/SheetalData/Secom-Assignment/blob/main/Boruta_KNN_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from scipy.stats import shapiro
# imputer
from sklearn.impute import SimpleImputer, KNNImputer


url1 ='https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom.data'
names = ["feature" + str(x) for x in range(1, 591)]
df1 = pd.read_csv(url1,sep=" ", names=names, na_values = "NaN",header=None)
df1.head()

url2 ='https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom_labels.data'
df2 = pd.read_csv(url2,sep=" ",names = ["Result","Date"])

#df2.columns =['Pass/Fail','Date']
df2.head()

   Result                 Date
0      -1  19/07/2008 11:55:00
1      -1  19/07/2008 12:32:00
2       1  19/07/2008 13:17:00
3      -1  19/07/2008 14:43:00
4      -1  19/07/2008 15:22:00

In [14]:
#Convertion of Date into Datetime from Object(String) data types
df2['Date'] = pd.to_datetime(df2['Date'])
df2.dtypes


#Joinig TWO df1 and df2 Dataframe naming SECOM
Secom = pd.concat([df1,df2],axis = 1)
print(Secom)

Secom = Secom.drop(['Date'],axis=1)
                   
# establish target and features of the manufacturing data
# set the target to the encoded manufacturing outcome column
y = Secom[['Result']]
# set the features as the rest of the dataset after dropping the features that are no
x = Secom.drop(['Result'], axis=1)

# getting the shapes of new data sets x and y
print("shape of x:", x.shape)
print("shape of y:", y.shape)

      feature1  feature2   feature3   feature4  feature5  feature6  feature7  \
0      3030.93   2564.00  2187.7333  1411.1265    1.3602     100.0   97.6133
1      3095.78   2465.14  2230.4222  1463.6606    0.8294     100.0  102.3433
2      2932.61   2559.94  2186.4111  1698.0172    1.5102     100.0   95.4878
3      2988.72   2479.90  2199.0333   909.7926    1.3204     100.0  104.2367
4      3032.24   2502.87  2233.3667  1326.5200    1.5334     100.0  100.3967
...        ...       ...        ...        ...       ...       ...       ...
1562   2899.41   2464.36  2179.7333  3085.3781    1.4843     100.0   82.2467
1563   3052.31   2522.55  2198.5667  1124.6595    0.8763     100.0   98.4689
1564   2978.81   2379.78  2206.3000  1110.4967    0.8236     100.0   99.4122
1565   2894.92   2532.01  2177.0333  1183.7287    1.5726     100.0   98.7978
1566   2944.92   2450.76  2195.4444  2914.1792    1.5978     100.0   85.1011

      feature8  feature9  feature10  ...  feature583  feature584  feature585  \
0       0.1242    1.5005     0.0162  ...      0.5005      0.0118      0.0035
1       0.1247    1.4966    -0.0005  ...      0.5019      0.0223      0.0055
2       0.1241    1.4436     0.0041  ...      0.4958      0.0157      0.0039
3       0.1217    1.4882    -0.0124  ...      0.4990      0.0103      0.0025
4       0.1235    1.5031    -0.0031  ...      0.4800      0.4766      0.1045
...        ...       ...        ...  ...         ...         ...         ...
1562    0.1248    1.3424    -0.0045  ...      0.4988      0.0143      0.0039
1563    0.1205    1.4333    -0.0061  ...      0.4975      0.0131      0.0036
1564    0.1208       NaN        NaN  ...      0.4987      0.0153      0.0041
1565    0.1213    1.4622    -0.0072  ...      0.5004      0.0178      0.0038
1566    0.1235       NaN        NaN  ...      0.4987      0.0181      0.0040

      feature586  feature587  feature588  feature589  feature590  Result  \
0         2.3630         NaN         NaN         NaN         NaN      -1
1         4.4447      0.0096      0.0201      0.0060    208.2045      -1
2         3.1745      0.0584      0.0484      0.0148     82.8602       1
3         2.0544      0.0202      0.0149      0.0044     73.8432      -1
4        99.3032      0.0202      0.0149      0.0044     73.8432      -1
...          ...         ...         ...         ...         ...     ...
1562      2.8669      0.0068      0.0138      0.0047    203.1720      -1
1563      2.6238      0.0068      0.0138      0.0047    203.1720      -1
1564      3.0590      0.0197      0.0086      0.0025     43.5231      -1
1565      3.5662      0.0262      0.0245      0.0075     93.4941      -1
1566      3.6275      0.0117      0.0162      0.0045    137.7844      -1

                    Date
0    2008-07-19 11:55:00
1    2008-07-19 12:32:00
2    2008-07-19 13:17:00
3    2008-07-19 14:43:00
4    2008-07-19 15:22:00
...                  ...
1562 2008-10-16 15:13:00
1563 2008-10-16 20:49:00
1564 2008-10-17 05:26:00
1565 2008-10-17 06:01:00
1566 2008-10-17 06:07:00

[1567 rows x 592 columns]
shape of x: (1567, 590)
shape of y: (1567, 1)

In [15]:
#Splitting data

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1,stratify = y)


# getting the counts
print("shape of x_train: ", x_train.shape)
print("shape of x_test: ", x_test.shape)
print("shape of y_train: ", y_train.shape)
print("shape of y_test: ", y_test.shape)


#Removing features having Missing ratio more than 50%


def percentna(dataframe, threshold):
    columns = dataframe.columns[(dataframe.isnull().sum()/len(dataframe))>threshold]
    return columns.tolist()

 

na_columns = percentna(x_train, 0.5)
len(na_columns)
x_train_dn = x_train.drop(na_columns, axis=1)
x_train_dn.shape

shape of x_train:  (1096, 590)
shape of x_test:  (471, 590)
shape of y_train:  (1096, 1)
shape of y_test:  (471, 1)

(1096, 566)

In [16]:
#Low Variance Filter
from sklearn.feature_selection import VarianceThreshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(x_train_dn)

 

constant_columns = [column for column in x_train_dn.columns
                    if column not in x_train_dn.columns[var_thres.get_support()]]


print(len(constant_columns))

x_train_lv = x_train_dn.drop(constant_columns,axis=1)

116

In [17]:
x_test_drop = x_test.copy()

x_test_drop = x_test_drop.drop(na_columns, axis=1)

x_test_drop = x_test_drop.drop(constant_columns,axis=1)

In [18]:
def outliers(feat):
 upper_limit = feat.mean() + 3*feat.std()
 lower_limit = feat.mean() - 3*feat.std()

 feat = np.where(
    feat >upper_limit,
    upper_limit,
    np.where(
       feat <lower_limit,
        lower_limit,
        feat ))
 return feat

x_train_outliers_imputation =x_train_lv.copy()
for column in x_train_outliers_imputation:
  x_train_outliers_imputation[column] = outliers(x_train_outliers_imputation[column])

In [19]:
numColumns = x_train_outliers_imputation.select_dtypes(include=np.number).columns.tolist();
# initialize imputer
imputer = KNNImputer()

# fit the imputer on X_train. pass only numeric columns.
imputer.fit(x_train_outliers_imputation[numColumns])

# transform the data using the fitted imputer
X_train_knn_impute1 = imputer.transform(x_train_outliers_imputation[numColumns])
X_test_knn_impute1 = imputer.transform(x_test[numColumns])

# put the output into DataFrame. remember to pass columns used in fit/transform
X_train_knn_impute1 = pd.DataFrame(X_train_knn_impute1, columns=numColumns)
X_test_knn_impute1 = imputer.transform(x_test[numColumns])

In [20]:
pip install boruta

Requirement already satisfied: boruta in c:\users\divya\anaconda3\lib\site-packages (0.3)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy>=1.10.4 in c:\users\divya\anaconda3\lib\site-packages (from boruta) (1.22.3)
Requirement already satisfied: scipy>=0.17.0 in c:\users\divya\anaconda3\lib\site-packages (from boruta) (1.7.3)
Requirement already satisfied: scikit-learn>=0.17.1 in c:\users\divya\anaconda3\lib\site-packages (from boruta) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\divya\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->boruta) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\divya\anaconda3\lib\site-packages (from scikit-learn>=0.17.1->boruta) (2.2.0)

WARNING: You are using pip version 21.3.1; however, version 22.1.2 is available.
You should consider upgrading via the 'c:\Users\divya\anaconda3\python.exe -m pip install --upgrade pip' command.

In [21]:
from boruta import BorutaPy

In [22]:
from boruta import BorutaPy
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=1, n_estimators=1000, max_depth=5)
boruta_selector = BorutaPy(rfc, n_estimators='auto', verbose=2, random_state=1)
boruta_selector.fit(np.array(X_train_knn_impute1), np.array(y_train))

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	450
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	450
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	450
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	450
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	450
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	450
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	450
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	0
Tentative: 	19
Rejected: 	431
Iteration: 	9 / 100
Confirmed: 	0
Tentative: 	19
Rejected: 	431
Iteration: 	10 / 100
Confirmed: 	0
Tentative: 	19
Rejected: 	431
Iteration: 	11 / 100
Confirmed: 	0
Tentative: 	19
Rejected: 	431
Iteration: 	12 / 100
Confirmed: 	2
Tentative: 	15
Rejected: 	433
Iteration: 	13 / 100
Confirmed: 	2
Tentative: 	15
Rejected: 	433
Iteration: 	14 / 100
Confirmed: 	2
Tentative: 	15
Rejected: 	433
Iteration: 	15 / 100
Confirmed: 	2
Tentative: 	15
Rejected: 	433
Iteration: 	16 / 100
Confirmed: 	4
Tentative: 	11
Rejected: 	435
Iteration: 	17 / 100
Confirmed: 	4
Tentative: 	11
Rejected: 	435
Iteration: 	18 / 100
Confirmed: 	4
Tentative: 	11
Rejected: 	435
Iteration: 	19 / 100
Confirmed: 	4
Tentative: 	11
Rejected: 	435
Iteration: 	20 / 100
Confirmed: 	4
Tentative: 	11
Rejected: 	435
Iteration: 	21 / 100
Confirmed: 	4
Tentative: 	11
Rejected: 	435
Iteration: 	22 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	23 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	24 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	25 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	26 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	27 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	28 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	29 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	30 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	31 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	32 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	33 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	34 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	35 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	36 / 100
Confirmed: 	7
Tentative: 	8
Rejected: 	435
Iteration: 	37 / 100
Confirmed: 	8
Tentative: 	7
Rejected: 	435
Iteration: 	38 / 100
Confirmed: 	8
Tentative: 	7
Rejected: 	435
Iteration: 	39 / 100
Confirmed: 	8
Tentative: 	7
Rejected: 	435
Iteration: 	40 / 100
Confirmed: 	8
Tentative: 	7
Rejected: 	435
Iteration: 	41 / 100
Confirmed: 	8
Tentative: 	7
Rejected: 	435
Iteration: 	42 / 100
Confirmed: 	8
Tentative: 	7
Rejected: 	435
Iteration: 	43 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	44 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	45 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	46 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	47 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	48 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	49 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	50 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	51 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	52 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	53 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	54 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	55 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	56 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	57 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	58 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	59 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	60 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	61 / 100
Confirmed: 	10
Tentative: 	5
Rejected: 	435
Iteration: 	62 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	63 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	64 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	65 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	66 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	67 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	68 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	69 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	70 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	71 / 100
Confirmed: 	11
Tentative: 	4
Rejected: 	435
Iteration: 	72 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	73 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	74 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	75 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	76 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	77 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	78 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	79 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	80 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	81 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	82 / 100
Confirmed: 	12
Tentative: 	3
Rejected: 	435
Iteration: 	83 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	84 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	85 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	86 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	87 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	88 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	89 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	90 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	91 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	92 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	93 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	94 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	95 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	96 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	97 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	98 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435
Iteration: 	99 / 100
Confirmed: 	13
Tentative: 	2
Rejected: 	435


BorutaPy finished running.

Iteration: 	100 / 100
Confirmed: 	13
Tentative: 	1
Rejected: 	435

BorutaPy(estimator=RandomForestClassifier(max_depth=5, n_estimators=109,
                                          random_state=RandomState(MT19937) at 0x1C5A0D54640),
         n_estimators='auto',
         random_state=RandomState(MT19937) at 0x1C5A0D54640, verbose=2)

In [23]:
# Ranking of Boruta

print("Ranking: ",boruta_selector.ranking_)          
print("No. of significant features: ", boruta_selector.n_features_)

Ranking:  [ 94 388 135 360 169 409 413 390 141 149  77 151  96 252  16 269 230 411
 271   6 123 319 315  69  21  25 308 366 146 393 194 120 344 252 306 195
  10 260   9  73 202 285 148 384 133 190 330  43 310 294  43 338 175 224
   1 290  13  39  13   1   1 226  72 129  80   5 126 171 435 152  88  92
 264 374 245  93 289  95 352 348 341 232  82 198 409 200 173 425 421 392
 423  84 247 427 153  40  99 247 282 254 250 228 312 113 275 328  18 295
  91 145  23 214  48  37 251 230 346 306 221 386 209  31 275 369 292 390
 247 300 408 265 340 358 385 267 208 154  86 206 334  65   1  79 336  18
  49 118 343 421  51  28  84 396 235  97 121  20 217 402 300 416 342 378
 406 282 351 328 224 338 186 237  71 100 180 126 198 136  55 143 166  23
 259   2 435 190 164 435  33 115  53 182  28 174 138 263 240 354 298  89
 257 240 178 204 110 271 171 353  53  42 258 116 282 374 420 304   1 162
 179 412 404 156 325 364 318 362 402 236 338 247 125 213 161 317  58   3
 130 240  75  34 200 380 417   1  21  87 319 297  36 181 186 122 381 269
 414 378 106 372 219 238 312 315 255 150 198  38  59  81 189 206  83  75
 105 186  41 165   1 435 170 109 376 211 435   1 128 101 407  34 364 158
 370 168 395 415 228 262 295 140 355 214 377 328 273 275 209 113  63 108
 280 333 386 302 261   6  98 383 243 255 103 293 368 192 278 309 335 348
 370 144 131 102 323  90   1 176 167  11  27  31 424 332  56  30 116 243
 350 302 182   1 212 298 186 364 306 382 428 284 398 398 192 132 133 267
  67 112 224 142 240 222  67 267 157   1 146   4 435 321 286 397 323 288
 279 322 358 158 312 177 219 275  62 233 160 217 355 111  16 136 203  60
 429 227 138 357 393 345 312   1 216 233 426 431 432 430 361 325 291 346
  69  12 404  26  15 162  61   8 205 366 287 196   1 419  63  75  56  49
  45 123 388 330 374  52 400 103 401  46  67 106  47 119 184  77 155 417]
No. of significant features:  13

In [24]:
selected_rf_features = pd.DataFrame({'Feature':list(X_train_knn_impute1.columns),
                                       'Ranking':boruta_selector.ranking_})
selected_rf_features.sort_values(by='Ranking').head(30)

        Feature  Ranking
426  feature563        1
214  feature268        1
60    feature66        1
281  feature349        1
274  feature342        1
59    feature65        1
345  feature442        1
369  feature476        1
330  feature427        1
140  feature154        1
241  feature299        1
403  feature540        1
54    feature60        1
181  feature206        2
233  feature289        3
371  feature478        4
65    feature72        5
311  feature406        6
19    feature22        6
421  feature558        8
38    feature41        9
36    feature39       10
333  feature430       11
415  feature552       12
56    feature62       13
58    feature64       13
418  feature555       15
392  feature511       16
14    feature17       16
106  feature118       18

In [25]:
# Using the BorutaPy object to transform the features in the dataset.

X_Filtered_train = boruta_selector.transform(np.array(X_train_knn_impute1))

X_Filtered_test = boruta_selector.transform(np.array(X_test_knn_impute1))

#### Accuracy check

In [26]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
#from sklearn.metrics import scorer
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.model_selection import GridSearchCV 
from sklearn.model_selection import RandomizedSearchCV

classifiers = [['RandomForest :',RandomForestClassifier()]]

for name,classifier in classifiers:
    clf=classifier.fit(X_Filtered_train,y_train)
    y_pred=classifier.predict(X_Filtered_test)
    print(f'\n {name} \n')
    print(f'Training Score for {name}  {clf.score(X_Filtered_train,y_train) * 100:.2f}' )
    print(f'Testing Score for {name} {clf.score(X_Filtered_test,y_test) * 100:.2f}' )
    print(f'Classification report  \n {classification_report(y_test,y_pred)}' )
    print(f'Confusion matrix  \n {confusion_matrix(y_test,y_pred)}' )
    print(f'ROC AUC  : {roc_auc_score(y_test,y_pred)}' )

 RandomForest :

Training Score for RandomForest :  100.00
Testing Score for RandomForest : 92.99
Classification report
               precision    recall  f1-score   support

          -1       0.94      0.99      0.96       440
           1       0.25      0.03      0.06        31

    accuracy                           0.93       471
   macro avg       0.59      0.51      0.51       471
weighted avg       0.89      0.93      0.90       471

Confusion matrix
 [[437   3]
 [ 30   1]]
ROC AUC  : 0.5127199413489736