### Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import seaborn as sns
from pandas_profiling import ProfileReport
import warnings
warnings.filterwarnings("ignore")
import missingno as msno
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from scipy.stats import shapiro

### Download Secom.data and Put it in dataframe(df1)

In [2]:
url1 ='https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom.data'
names = ["feature" + str(x) for x in range(1, 591)]
df1 = pd.read_csv(url1,sep=" ", names=names, na_values = "NaN",header=None)
df1.head()

,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,...,feature581,feature582,feature583,feature584,feature585,feature586,feature587,feature588,feature589,feature590
0,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,0.0162,...,NaN,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN
1,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,-0.0005,...,0.0060,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045
2,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,0.0041,...,0.0148,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602
3,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,-0.0124,...,0.0044,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432
4,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,-0.0031,...,NaN,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432

### Download Secom Label.data and Put it in dataframe(df2) and rename the columns

In [3]:
url2 ='https://archive.ics.uci.edu/ml/machine-learning-databases/secom/secom_labels.data'
df2 = pd.read_csv(url2,sep=" ",names = ["Result","Date"])

#df2.columns =['Pass/Fail','Date']
df2.head()

   Result                 Date
0      -1  19/07/2008 11:55:00
1      -1  19/07/2008 12:32:00
2       1  19/07/2008 13:17:00
3      -1  19/07/2008 14:43:00
4      -1  19/07/2008 15:22:00

### Joining both the datasets

In [4]:
#Convertion of Date into Datetime from Object(String) data types
df2['Date'] = pd.to_datetime(df2['Date'])
df2.dtypes



#Joinig TWO df1 and df2 Dataframe naming SECOM
Secom = pd.concat([df1,df2],axis = 1)
print(Secom)

      feature1  feature2   feature3   feature4  feature5  feature6  feature7  \
0      3030.93   2564.00  2187.7333  1411.1265    1.3602     100.0   97.6133
1      3095.78   2465.14  2230.4222  1463.6606    0.8294     100.0  102.3433
2      2932.61   2559.94  2186.4111  1698.0172    1.5102     100.0   95.4878
3      2988.72   2479.90  2199.0333   909.7926    1.3204     100.0  104.2367
4      3032.24   2502.87  2233.3667  1326.5200    1.5334     100.0  100.3967
...        ...       ...        ...        ...       ...       ...       ...
1562   2899.41   2464.36  2179.7333  3085.3781    1.4843     100.0   82.2467
1563   3052.31   2522.55  2198.5667  1124.6595    0.8763     100.0   98.4689
1564   2978.81   2379.78  2206.3000  1110.4967    0.8236     100.0   99.4122
1565   2894.92   2532.01  2177.0333  1183.7287    1.5726     100.0   98.7978
1566   2944.92   2450.76  2195.4444  2914.1792    1.5978     100.0   85.1011

      feature8  feature9  feature10  ...  feature583  feature584  feature585  \
0       0.1242    1.5005     0.0162  ...      0.5005      0.0118      0.0035
1       0.1247    1.4966    -0.0005  ...      0.5019      0.0223      0.0055
2       0.1241    1.4436     0.0041  ...      0.4958      0.0157      0.0039
3       0.1217    1.4882    -0.0124  ...      0.4990      0.0103      0.0025
4       0.1235    1.5031    -0.0031  ...      0.4800      0.4766      0.1045
...        ...       ...        ...  ...         ...         ...         ...
1562    0.1248    1.3424    -0.0045  ...      0.4988      0.0143      0.0039
1563    0.1205    1.4333    -0.0061  ...      0.4975      0.0131      0.0036
1564    0.1208       NaN        NaN  ...      0.4987      0.0153      0.0041
1565    0.1213    1.4622    -0.0072  ...      0.5004      0.0178      0.0038
1566    0.1235       NaN        NaN  ...      0.4987      0.0181      0.0040

      feature586  feature587  feature588  feature589  feature590  Result  \
0         2.3630         NaN         NaN         NaN         NaN      -1
1         4.4447      0.0096      0.0201      0.0060    208.2045      -1
2         3.1745      0.0584      0.0484      0.0148     82.8602       1
3         2.0544      0.0202      0.0149      0.0044     73.8432      -1
4        99.3032      0.0202      0.0149      0.0044     73.8432      -1
...          ...         ...         ...         ...         ...     ...
1562      2.8669      0.0068      0.0138      0.0047    203.1720      -1
1563      2.6238      0.0068      0.0138      0.0047    203.1720      -1
1564      3.0590      0.0197      0.0086      0.0025     43.5231      -1
1565      3.5662      0.0262      0.0245      0.0075     93.4941      -1
1566      3.6275      0.0117      0.0162      0.0045    137.7844      -1

                    Date
0    2008-07-19 11:55:00
1    2008-07-19 12:32:00
2    2008-07-19 13:17:00
3    2008-07-19 14:43:00
4    2008-07-19 15:22:00
...                  ...
1562 2008-10-16 15:13:00
1563 2008-10-16 20:49:00
1564 2008-10-17 05:26:00
1565 2008-10-17 06:01:00
1566 2008-10-17 06:07:00

[1567 rows x 592 columns]

In [5]:
Secom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1567 entries, 0 to 1566
Columns: 592 entries, feature1 to Date
dtypes: datetime64[ns](1), float64(590), int64(1)
memory usage: 7.1 MB

##### Get the exact number of manufacturing Pass and failures

In [6]:
Counter(Secom['Result'])

Counter({-1: 1463, 1: 104})

### Dataset Splitting

In [7]:
# establish target and features of the manufacturing data
# set the target to the encoded manufacturing outcome column
y = Secom[['Result']]
# set the features as the rest of the dataset after dropping the features that are no
x = Secom.drop(['Result'], axis=1)

In [8]:
# getting the shapes of new data sets x and y
print("shape of x:", x.shape)
print("shape of y:", y.shape)




x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 1,stratify = y)



# getting the counts
print("shape of x_train: ", x_train.shape)
print("shape of x_test: ", x_test.shape)
print("shape of y_train: ", y_train.shape)
print("shape of y_test: ", y_test.shape)

shape of x: (1567, 591)
shape of y: (1567, 1)
shape of x_train:  (1096, 591)
shape of x_test:  (471, 591)
shape of y_train:  (1096, 1)
shape of y_test:  (471, 1)

In [9]:
y_train.value_counts()

Result
-1        1023
 1          73
dtype: int64

In [11]:
y_test.value_counts()

Result
-1        440
 1         31
dtype: int64

In [12]:
y.value_counts()

Result
-1        1463
 1         104
dtype: int64

In [1]:
# Hello Tong